<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>MassiveUp</title>
		
		<!-- icon -->
		<link rel="shortcut icon" href="img/icon.png">
		<!-- description -->
		<meta name="description" content="MassiveUp - Creative is a must!">
		<!-- keywords -->
		<meta name="keywords" content="massiveup,massive up, massive, creative, kreatif">
		<!-- CSS Booststrap -->
		<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
		<!-- CSS -->
		<link rel="stylesheet" href="css/style.css">
		<!-- fontawesome -->
		<link rel="stylesheet" href="fontawesome/web-fonts-with-css/css/fontawesome.min.css">
	</head>
	<body>
		
		<header>
			<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #22a6b3;">
				<div class="container">
					<a class="navbar-brand" href="index.html">M</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarCollapse">
						<ul class="navbar-nav mr-auto">
							
							<li class="nav-item">
								<a class="nav-link" href="profile.html">About</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="service.html">Services</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="contact.html">Contact</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="berita.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Berita
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdown">
									<a class="dropdown-item" href="berita.html">Halaman Berita</a>
									<a class="dropdown-item" href="detail.html">Detail Berita</a>
									
								</div>
							</li>
						</ul>
						
					</div>
				</div>
			</nav>
		</header>
		<main role="main">
			<!-- /.container -->
			<div class="album text-muted">
				<div class="container">
					<br><br>
					
					<center><h1>About</h1></center>
					
					<br><br>
					<div class="row">
						
						<div class="col-md-6">
							<div class="logo-about">
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.2745696185552!2d106.8062905144936!3d-6.227484995492058!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f1495f1fddc9%3A0xfe3d872dbc2b760a!2sGoogle+Indonesia!5e0!3m2!1sid!2sid!4v1524741414405" width="550" height="400" frameborder="0" style="border:0" allowfullscreen ></iframe>
								
							</div>
						</div>
						<div class="col-md-6">
							<div class="isi-contact">
								<p><b>PT. Massiveup Indonesia</b></p>
								Rukan Permata Senayan Blok D-2 No. 8 <br>
								Jalan Permata Hijau, Jakarta Selatan <br>
								12210 <br>
								contact@massiveup.com <br>
								021 58765301 <br>

							</div>
						</div>
						
					</div>
					
					
					<!-- End artikel -->
				</div>
			</div>
			<!-- FOOTER -->
			<footer class="container">
				<p>&copy; 2017-2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
			</footer>
		</main>
	</body>
	<!-- jquery -->
	<script src="jquery-ui/external/jquery/jquery.js" type="text/javascript"></script>
	<!-- javascript bootstrap -->
	<script src="bootstrap/js/bootstrap.js" type="text/javascript"></script>
</html>